/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2")format("woff2"),
    url("../fonts/PTSans.woff")format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2")format("woff2"),
    url("../fonts/PTSans-Bold.woff")format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --acсent: #81B3D2;
  --acсent-dark: #669EC0;
  --acсent-extra-dark: #5496BD;
  --text-color: #333333;
  --basic-white: #FFFFFF;
  --background: #EEEEEE;
  --btn: #766357;
  --btn-dark: #604E43;
  --btn-extra-dark: #503E33;
  --input-background: #F2F2F2;
  --input-hover: #EBEBEB;
  --form-text: #A9A9A9;
  --html-logo: #BDBBBC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.page {
  height: 100%;
}

.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  text-transform: uppercase;
  min-width: 1200px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  margin: 0 auto;
  width: 1200px;
}

/* Header */
.header {
  padding-left: 72px;
  padding-right: 72px;
}

.cite-navigation {
  position: relative;
}

.cite-navigation-item {
  align-self: center;
}

.right {
  justify-self: end;
}

.cite-navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 227px 1fr 1fr 227px;
  grid-template-rows: 56px;
}

.logo {
  position: absolute;
  left: 459px;
  z-index: 2;
}

.cite-navigation-link {
  text-decoration: none;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.cite-navigation-link[href]:hover {
  color: var(--acсent);
}

.cite-navigation-link[href]:active,
.cite-navigation-link[href]:focus {
  opacity: 30%;
}

.cite-navigation-link-current {
  color: var(--brown-active);
}


/* Welcome to Sedona */

.welcome {
  background-image: url(../img/index-mountains.jpg);
  background-color: var(--acсent);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  text-align: center;
  height: 509px;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
}

.welcome::after {
  content: "";
  background-image: url("../img/shape-mask.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 100%;
  height: 57px;
  bottom: 0;
  left: 0;

}

.title {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  margin-bottom: 25px;
}

/* Promo */
.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 51px;
}

.promo-content {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  width: 470px;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
  margin-bottom: 45px;
}

.promo-text {
  font-size: 14px;
  line-height: 26px;
  width: 520px;
  text-align: center;
  margin: 0;
}

/* Town */
.true-town {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.true-town-title,
.bridge-title {
  color: var(--basic-white);
  width: 150px;
  text-align: center;
}

.true-town-content,
.bridge-town-content {
  background-color: var(--acсent);
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 49px;
  padding-left: 50px;
}

.true-town-image,
.bridge-town-image {
  display: block;
  object-fit: cover;
  height: 100%;
}

.true-town-text {
  text-align: center;
  margin-top: 23px;
}

/* Town-features */

.town-features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.town-features-item {
  padding: 59px 52px 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.town-features-image {
  margin-bottom: 28px;
}

.town-features-content {
  text-align: center;
}

/*Bridge*/
.bridge-town {
  display: grid;
  grid-template-columns: 1fr 400px;
}

.bridge-image-wrapper,
.true-town-wrapper {
  width: 800px;
  min-height: 256px;
}

.bridge-town-content {
  order: 1;
}

.bridge-text {
  text-align: center;
  margin-top: 23px;
}

/* Rest-advantages */

.rest-advantages {
  background-color: var(--background);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  z-index: 3;
}

.rest-advantages-item {
  padding: 47px 71px 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rest-advantages-title {
  width: 120px;
  text-align: center;
}

.rest-advantages-content {
  text-align: center;
  margin-top: 23px;
}

/* Hotel-search */
.hotel-search {
  padding-top: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
  background-color: var(--basic-white);
}

.hotel-search-title {
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 31px;
}

.hotel-search-content {
  font-size: 14px;
  line-height: 24px;
  width: 435px;
  text-align: center;
  margin-bottom: 44px;
}

.button {
  font: inherit;
  text-align: center;
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
}

.form-appearance-button {
  background-color: var(--btn);
  padding: 30px 24px;
  text-align: center;
  width: 568px;
  z-index: 5;
}

.form-appearance-button:hover {
  background-color: var(--btn-dark);
}

.form-appearance-button:focus {
  background-color: var(--btn-extra-dark);
  color: rgba(255, 255, 255, 0.3);
}

.map {
  width: 1200px;
  height: 594px;
  position: relative;
}

iframe {
  width: 100%;
  height: 100%;
}

/* Footer */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 72px;
  background: rgba(255, 255, 255, 0.9);
  min-height: 120px;
}

.footer_index-page {
  margin-top: -120px;
  z-index: 3;
  position: relative;
}

.footer-contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-right: 20px;
}

.footer-contacts p:first-child {
  margin-top: 23px;
  margin-bottom: 9px;
}

.footer-contacts a {
  text-decoration: none;
  color: inherit;
}

.footer-social {
  justify-self: center;
  align-self: center;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: -6px;
}

.social-link {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  background-color: var(--acсent);
  text-decoration: none;
}

.social-link:hover {
  background-color: var(--acсent-dark);
}

.social-link:active,
.social-link:focus {
  background-color: var(--acсent-extra-dark);
}

.copyright {
  display: flex;
  align-items: center;
  padding-left: 87px;
}

.copyright-content {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  margin-right: 10px;
}

.copyright-link:hover path {
  fill: var(--acсent);
}

.copyright-link:active path,
.copyright-link:focus path {
  fill: var(--html-logo);
}

/* Form-modal */

.modal-search {
  width: 568px;
  height: 395px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  padding: 55px;
  position: absolute;
  background: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  top: 0;
  left: calc(50% - 284px);
  display: none;
}

@keyframes bounce {
  0% {
    transform: translateY(-395px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

.search-hotel-form {
  display: flex;
  flex-direction: column;
}

.form-line {
  margin-bottom: 30px;
  display: flex;
  line-height: 38px;
  position: relative;
}


.icon-calendar {
  position: absolute;
  right: 8px;
  top: 7px;
}

.search-hotel-form label {
  width: 112px;
}

.input_custom {
  background-color: var(--input-background);
  border: none;
  outline: none;
  font: inherit;
  text-transform: uppercase;
}

.input_dates {
  width: calc(100% - 112px);
  padding-left: 13px;
  padding-right: 13px;
}

.input-button {
  width: 33%;
  background-color: var(--input-background);
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-button:hover path,
.input-button:hover rect {
  fill: var(--basic-black);
}

.input-button:focus path,
.input-button:focus rect {
  fill: var(--acсent);
}

.input_people {
  width: 33%;
  text-align: center;
}

.label-for-children {
  text-align: end;
  padding-right: 25px;
}

.input_custom::-webkit-input-placeholder {
  color: var(--basic-black);
}

.input_custom::-moz-placeholder {
  color: var(--basic-black);
}


.icon-calendar:hover path {
  fill: var(--basic-black);
}

.icon-calendar:active path {
  fill: var(--acсent);
}

.search-hotel-form input:hover {
  background-color: var(--input-hover);
}

.search-hotel-form input:active,
.search-hotel-form input:focus {
  background-color: transparent;
  outline: solid 2px #E5E5E5;
}

.modal-button {
  background-color: var(--acсent);
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
  margin-top: 24px;
}

.modal-button:hover {
  background-color: var(--acсent-dark);
}

.modal-button:active,
.modal-button:focus {
  background-color: var(--acсent-extra-dark);
  color: rgba(255, 255, 255, 0.3);
}

.input_custom {
  position: relative;
}

.icon-calendar {
  position: absolute;
}

.adults_group_field-wrapper,
.children_group_field-wrapper {
  width: calc(50% - 112px);
  display: flex;
  /* align-items: center; */
}


/* Catalog */
.filters {
  background-color: var(--acсent);
  background-image: url(../img/background-catalog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--basic-white);
}

.filters-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 72px 7px;
}

.filters-form fieldset {
  margin: 0;
  padding: 0;
}

.infrastructure-and-hoteltype {
  display: grid;
  grid-template-columns: 255px 1fr;
  justify-self: start;
}

.form-section-title {
  margin-bottom: 24px;
}

.form-section-title_cost {
  margin-bottom: 10px;
}

.hotel-type-list,
.infrastructure-list {
  margin: 0;
  padding: 0;
  padding-left: 38px;
  list-style: none;
}

.filter-option {
  margin-bottom: 25px;
}

.label-checkbox {
  position: relative;
}

.label-checkbox::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -39px;
  top: -2px;
}

.input-checkbox:checked+.label-checkbox::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -39px;
  top: -2px;
}

.input-checkbox:disabled+.label-checkbox::before {
  opacity: 0.3;
}

.cost {
  justify-self: end;
  width: 317px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cost-input {
  background: transparent;
  border: none;
  font: inherit;
  font-size: inherit;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
}

.cost-input::-webkit-input-placeholder {
  color: var(--basic-white);
}

.cost-input::-moz-placeholder {
  color: var(--basic-white);
}

.price-controls {
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  display: flex;
  align-items: center;
  min-height: 36px;

}

.devider {
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.range-controls {
  position: relative;
}

.scale {
  height: 2px;
  background-color: #999999;
  margin-top: 20px;
  margin-bottom: 33px;
}

.bar {
  height: 2px;
  background-color: var(--basic-white);
  /* width: 80%; */
}

.toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #ABABAB;
  border-radius: 50%;
  border: 8px solid var(--basic-white);
  box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
  top: -9px;
  box-sizing: content-box;
}

.toggle:hover,
.toggle:focus {
  border: 10px solid var(--basic-white);
  top: -11px;
}

.toggle-max {
  /* left: 240px; */
}

.filters-button {
  background: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  font: inherit;
  text-transform: uppercase;
  line-height: 32px;
  padding-right: 10px;
  padding-left: 10px;
  min-width: 137px;

}

.filters-button:hover,
.filters-button:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.form-section {
  border: none;
}

.form-section-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

/* Search-results */
.search-results-list {
  margin: 0;
  padding: 0;
}

.search-results-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 72px;
}

.search-results-wrapper {
  display: grid;
  grid-template-columns: 135px 1fr;
  column-gap: 29px;
}

.seach-results-content {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content 1fr 27px;
  column-gap: 6px;
}

.search-item-title {
  grid-column: 1/-1;
  margin: 0;
  padding: 0;
}

.search-item-link {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

.search-item-link:hover {
  color: var(--acсent);
}

.search-item-link:active,
.search-item-link:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.search-results-number {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.rating {
  justify-self: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

/*sorting*/
.sorting-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  padding: 28px 72px 34px;
}

.sorting {
  display: grid;
  grid-template-columns: 135px 1fr;
  column-gap: 29px;
  align-items: center;
}

.sorting-filters {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  display: flex;
}

.sorting-title {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sorting-title {
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.value-sort {
  align-self: center;
}

.sorting-item {
  /* opacity: 30%; */
  color: #b3b3b3;
  margin-right: 32px;
  text-decoration-line: underline;
  text-decoration-color: var(--acсent);
  text-decoration-style: dotted;
}

.sorting-item:hover {
  color: var(--acсent);
}

.sorting-item:active,
.sorting-item:focus {
  color: var(--basic-black);
  text-decoration: none;
}

.sorting-item_active {
  color: var(--acсent);
  opacity: 100%;
  text-decoration: none;
}

.sorting-item_active:active,
.sorting-item_active:focus {
  color: var(--acсent);
}

.sorting-arrow {
  text-decoration: none;
}

.sorting-arrow:not(:last-child) {
  margin-right: 12px;
}

.sorting-arrow:hover path {
  fill: var(--basic-black);
}

.sorting-arrow:active path,
.sorting-arrow:focus path {
  fill: var(--acсent);
}

.sort-current path,
.sort-current:hover path {
  fill: var(--acсent);
}

.search-results-list {
  list-style: none;
}

.search-results-item {
  font-size: 14px;
  line-height: 21px;
  border-top: 1px solid #e5e5e5;
}

.search-results-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.search-item-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  margin-top: -8px;
  margin-bottom: 9px;
}


.details-button {
  background-color: var(--acсent);
  text-decoration: none;
  font-size: 14px;
  padding-right: 17px;
  padding-left: 17px;
  line-height: 27px;
}

.details-button:hover {
  background-color: var(--acсent-dark);
}

.details-button:active,
.details-button:focus {
  background-color: var(--acсent-extra-dark);
  color: rgba(255, 255, 255, 0.3);
}

.book-button {
  background-color: var(--btn);
  font-size: 14px;
  padding-right: 17px;
  padding-left: 17px;
  line-height: 27px;
  text-transform: uppercase;
  justify-self: left;
}

.book-button:hover {
  background-color: var(--btn-dark);
}

.book-button:active,
.book-button:focus {
  background-color: var(--btn-extra-dark);
  color: rgba(255, 255, 255, 0.3);
}

.rating-value {
  min-width: 110px;
  padding-left: 15px;
  padding-right: 12px;
  height: 27px;
  line-height: 27px;
  background-color: var(--input-background);
}
